/* minimal layar ukuran besar */
@media screen and (min-width: 768px) {
    body {
        header {
            grid-template-columns: 2fr 2fr;
            .menu-logo {
                display: none;
            }
            nav {
                text-align: center;
                padding-top: 0.3rem;
                li {
                    display: inline-block;
                    a {
                        padding: 0.5rem;
                        font-size: 22px;
                        color: #f2d974;
                        text-align: center;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .hero {
            background-image: image-set("../public/images/heros/hero-image_2.jpg" 3x);
            h2 {
                padding-top: 6rem;
            }
        }
        main {
            .cardList, .favorite-restaurant {
                grid-template-columns: repeat(3, 1fr);
            } 
        }
    }
}
