/* minimal layar ukuran sedang */
@media screen and (min-width: 480px) {
    body {
        //off-canvas menu opening
        .open {
            width: 50%;   
        }
        .hero {
            background-image: image-set("../public/images/heros/hero-image_2.jpg" 2x);
            h2 {
                padding-top: 4rem;
            }
        }
        main {
            .cardList , .favorite-restaurant{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            } 
        }
    }
}